{% macro footer() %}
<!-- START FOOTER -->
<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-white">SV STEM Lab</h4>
                <p class="text-muted mt-4">It is a long established fact that a reader will<br>be distracted by the readable content of a page<br>when looking at its layout.</p>

                <ul class="social-list list-inline mt-3">
                    <li class="list-inline-item text-center">
                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-phone"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-email"></i></a>
                    </li>
                </ul>

            </div>

            <div class="col-lg-2 mt-3 mt-lg-0">
                <h5 class="text-light">Business Hours</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2 text-muted">Mon - Fri: 4PM - 9PM</li>
                    <li class="mt-2 text-muted">Sat & Sun: 9AM - 7PM</li>
                    <li class="mt-2 text-muted">Thurs off</li>
                </ul>

            </div>

            <div class="col-lg-2 mt-3 mt-lg-0">
                <h5 class="text-light">Locations</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2">
                        <h5 class="text-white-50">Cupertino Lab</h5>
                        <p class="text-muted">10555 S De Anza Blvd Suite 150, Cupertino CA</p>
                    </li>
                    <li class="mt-2">
                        <h5 class="text-white-50">Berryessa Lab</h5>
                        <p class="text-muted">1710 Berryessa Road Suite 114, San Jose CA</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5">
                    <p class="text-muted mt-4 text-center mb-0">© 2025 SV STEM Lab.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->

{% endmacro %} 